<h1><%= event.title %></h1>
<p><strong>Descripción:</strong> <%= event.description %></p>
<p><strong>Fecha:</strong> <%= event.date.toDateString() %></p>
<p><strong>Ubicación:</strong> <%= event.location %></p>
<p><strong>Precio:</strong> <%= event.price %> EUR</p>
<a href="/events/list" class="btn btn-primary">Volver a la lista de eventos</a>
